/* *:where( :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {

    all: unset;

    display: revert;

} */

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Light.ttf);
}


body{
    font-family: lato;
    font-size: 1.1em;
    font-weight: bold;

    /* margin-left: 20px; */
    
}




.navegator{
    background-color: #d64141;
    height: 60px;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    z-index: 9;
}

.lista{
    font-family: lato;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
li {
    list-style: none;
}

.link{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: lighter;
    text-decoration-line: underline transparent;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline #ffffff 1px;
    text-underline-offset: 5px;
}

.cabecera{
    background-color: #263238;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cabecera svg{
    margin: -100px;
}


.title{
    font-family: lato;
    font-size: 2em;
    color: #ffffff;
}
.subtitle{
    font-family: lato;
    font-size: 1.7em;
    color: #ffffff;
}
.thirdTitle{
    font-family: lato;
    background-color: #263238;
    font-size: 1.5em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 0px;
}

.todosPokemons{
    font-family: lato;
    background-color: #263238;
    font-size: 1.5em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 0%;
    position: sticky;
}


.divTodosPokemon{
    font-family: lato;
    display: flex;
    flex-direction: column;
 
}


.divCadaPokemon{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #def7ea;

}

.detalle{
    border-radius: 10px;
    font-weight: bold;
    margin:10px;
    padding: 3px;
}
.detalle:hover{
    background-color:#6ed0e9;
}


/* PAGINA DE DETALLE DE LOS POKEMON */

.paginaDetalle{
    font-family: lato;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #f05656;
}

.detallePokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    background-color: #6ee9a9;
    border-radius: 15px;
}

.detallePokemon img{
    height: 150px;
    width: 150px;

}


.botones{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.editar{
    border-radius: 10px;
    font-weight: bold;
}
.editar:hover{
    cursor: pointer;
    color:#263238;
    background-color: #07b61e;
    
}
.delete{
    border-radius: 10px;
    font-weight: bold;
}
.delete:hover{
    cursor: pointer;
    color:#263238;
    background-color: #d90707;
}

.inicio{
    border-radius: 10px;
    font-weight: bold;
    margin:10px;
    padding: 3px;
}


.contacto{
    padding:50px;
    background-color:#fb9595;
}